
.swiftpm/xcode/xcuserdata/faber.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/faber.xcuserdatad/UserInterfaceState.xcuserstate
